@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

@layer base {
	:root {
		@apply no-scrollbar;
		@apply scroll-smooth;
		-webkit-tap-highlight-color: transparent;
	}
}
